.stSidebar {
        background-color: #B2F2BB !important;
    }

    /* Fundo principal com gradiente off-white ao fundo */
.stAppViewContainer {
        background: linear-gradient(180deg, #FFFFFF 75%, #F4F4F0 100%) !important;
    }

    /* Torna o cabeçalho transparente para não cortar o fundo */
.stHeader {
        background-color: rgba(0, 0, 0, 0) !important;
    }

/* Cor do texto geral no fundo claro */
.stApp, p, h1, h2, h3, h4, h5, h6, label {
        color: #1F2937 !important;
        background:
        radial-gradient(circle at 20% 20%, rgba(255,255,255,0.03) 0%, transparent 25%),
        radial-gradient(circle at 70% 60%, rgba(255,255,255,0.04) 0%, transparent 30%),
        radial-gradient(circle at 40% 80%, rgba(255,255,255,0.03) 0%, transparent 20%),
        linear-gradient(180deg, #c8f1b8 0%, #c8f1b8 50%, #ffffff 100%);
    }

/* Força a cor branca e texto preto no selectbox da sidebar */
[data-testid="stSidebar"] [data-testid="stSelectbox"] > div > div {
    background-color: #FFFFFF !important;
    color: #000000 !important;
    border: 1px solid #CCCCCC !important;
}

/* Cor das letras e opções dentro do campo */
[data-testid="stSidebar"] [data-testid="stSelectbox"] * {
    color: #000000 !important;
    fill: #000000 !important;
}
/* Regras que só valem para telas pequenas (celular) */
@media (max-width: 768px) {
    h1 {
        font-size: 26px;
    }
}